<% layout("/layouts/boilerPlate.ejs") %>
<style>
    @media (max-width:430px){
    .row{

        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col-6{

        width: 95%;
        height: 90%;
    }
    .offset-3{
        margin-left: 0px;
    }
    label{
        font-weight: 700;
    }
    #main-title{
        text-align: center;
        letter-spacing: 2px;
    }
    .btn-success{
        width: 50% !important;
    }
}
</style>
    <div class="row">
            <div class="col-6 offset-3 ">
                 <h3 id="main-title">Registration Form</h3>
                <form action="/signup" method="POST" class="needs-validation mt-3" novalidate>
                    <div class="mt-2 mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mt-2 mb-3">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="mt-2 mb-3">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="mt-2 mb-3">
                        <button class="btn btn-success">Register</button>
                    </div>
                </form>
            </div>
    </div>

